Connected Services/Enova365Webservice/MethodInvokerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Soneta.Types" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Soneta.Types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Business/MethodInvokerService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="InternalServiceMethodInvokerParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContextHandle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatabaseHandle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IpFilters" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MethodArgs" nillable="true" type="q1:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InternalServiceMethodInvokerParams" nillable="true" type="tns:InternalServiceMethodInvokerParams" />
</xs:schema>