Connected Services/Enova365Webservice/MethodInvokerService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Business/MethodInvokerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Soneta.Net.Types" />
  <xs:element name="InvokeServiceMethod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Soneta.Net.Types" minOccurs="0" name="invokerParams" nillable="true" type="q1:ServiceMethodInvokerParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvokeServiceMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Soneta.Net.Types" minOccurs="0" name="InvokeServiceMethodResult" nillable="true" type="q2:InvokeServiceMethodResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvokeServiceMethodJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Soneta.Net.Types" minOccurs="0" name="invokerParams" nillable="true" type="q3:ServiceMethodInvokerParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvokeServiceMethodJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InvokeServiceMethodJsonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>