Webservice/XSD/PracownikGet.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="PracownikGet" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:id="http://tempuri.org/Common.xsd">
  <xs:import namespace="http://tempuri.org/Common.xsd"/>
  <xs:element name="PracownikGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="QueryId" type="xs:string"/>
        <xs:element name="Pracownik" type="id:Identifier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
